.login__input {
    font-family: inherit;
    display: block;
    padding: 0;
    border: 0;
    width: 100%;
    height: 27px;
    box-sizing: border-box;
    border-bottom: 2px solid #cccccc;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 0px auto 30px;
    color: white;
}