.header__button {
    max-width: 180px;
    max-height: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #a9a9a9;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}